/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

ul li {
  padding-left: 1rem;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

.options ul {
  display: flex;
  align-items: center;
}

/* Banner */

.banner {
  display: flex;
}

.banner .logo {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner img {
  width: 100%;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  width: 40%;
}

.caption h1, .caption h3 {
  padding-bottom: 2rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 90%;
}

.box p {
  padding: 0.5rem 0;
  color: white;
}

/* Information */

.information {
  display: flex;
}

.information .logo {
  padding: 2rem 1.5rem;
  width: 60%;
}

.information .logo img {
  width: 100%;
}

.information h2 {
  padding-top: 2rem;
}

.information .logo p {
  padding-top: 1.5rem;
}

.information h5 {
  padding-top: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.details .flex {
  display: flex;
  align-items: center;
}

.details .logo {
  height: auto;
  width: 35%;
  padding-left: 1rem;
}

.detail {
  width: 65%;
}

.detail p {
  padding: .5rem 0;
}
