/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

ul li {
  padding-left: 1rem;
}

/* Used in Learning and Thesis sections */

.heading {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

header .fname {
  font-weight: bold;
}

.options ul {
  display: flex;
  align-items: center;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header span, header nav {
    display: none;
  }
  header .mobile {
    display: flex;
    justify-content: space-between;
    width: 67%;
  }
}

/* Banner */

.banner {
  display: flex;
}

.banner .logo {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner img {
  width: 100%;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  width: 40%;
}

.caption h1, .caption h3 {
  padding-bottom: 2rem;
  width: 80%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 70%;
}

.box p {
  padding: 0.5rem 0;
  color: white;
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
  }
  .banner .logo {
    width: 100%;
    padding: 0 0 2rem 0;
  }
  .caption {
    padding: 0 1rem 2rem 1rem;
    width: 100%;
  }
  .caption h1, .caption h3 {
    width: 100%;
  }
  .box {
    width: 100%;
  }
}

/* Information */

.information {
  display: flex;
}

.information .logo {
  padding: 2rem 1.5rem;
  width: 60%;
}

.information .logo img {
  width: 100%;
}

.information h2 {
  padding-top: 2rem;
}

.information .logo p {
  padding-top: 1.5rem;
}

.information h5 {
  padding-top: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.details .flex {
  display: flex;
  align-items: center;
}

.details .logo {
  height: auto;
  width: 35%;
  padding-left: 1rem;
}

.detail {
  width: 65%;
}

.detail p {
  padding: .5rem 0;
}

.logo.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .information .big {
    display: none;
  }
  .details {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
  }
  .details .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .details .logo {
    width: 100%;
    padding: 0 0;
  }
  .logo.small {
    display: none;
  }
  .logo.mobile {
    display: flex;
    padding-bottom: 2rem;
  }
  .detail {
    padding-left: 1rem;
  }
  .orientation h6, .campus h6 {
    padding-bottom: 4rem;
  }
}

/* Learning/Courses */

.learning {
  display: flex;
  flex-direction: column;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 4rem;
}

.course .logo img {
  height: auto;
  width: 100%;
}

.course {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem 1rem;
}

.course-info {
  padding: 0 0 1.25rem 1rem;
}

.course-info h3 {
  padding: 1rem 0 .25rem 0;
}

.course-info p {
  padding: .25rem 0;
}

@media only screen and (max-width: 480px) {
  .courses {
    flex-direction: column;
    padding: 0.5rem 0 1.5rem 0;
  }
  .courses .logo {
    display: none;
  }
  .courses p {
    display: none;
  }
  .course {
    width: 100%;
    padding: 0;
  }
  .course-info {
    padding: .5rem 1rem;
  }
  .course h3 {
    padding: 1rem 0 1.5rem 1rem;
  }
}


/* Thesis */

.thesis {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
}

.movie {
  width: 60%;
  padding: 0 1.5rem 1.5rem 0;
}

.movie video {
  width: 100%;
  padding-bottom: 1.5rem;
}

.movie p {
  padding: .5rem 0;
}

.topics {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.topics .flex {
  display: flex;
}

.topics .logo {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.topics .flex img {
  width: 100%;
}

.topics .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 480px) {
  .content {
    padding: 0;
  }
  .movie {
    width: 100%;
    padding: 1rem 0 1.5rem 0;
  }
  .movie h3, .movie p{
    display: none;
  }
  .topics {
    display: none;
  }
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem 1.5rem;
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 1rem 0 1rem 1rem;
  }
  .terms {
    display: none;
  }
}
